.cocktail {
    width: 100%;
}

.cocktail .container {
    width: 1240px;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.cocktail h2 {
    font-size: 3rem;
    text-align: center;
}

.cocktail h3 {
    font-size: 3rem;
    text-align: left;
}

.cocktail img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    float: right;
  }

  .cocktails img {
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    width: 70px;
    height: 100px;
  }
  
  .cocktails img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.cocktail p {
    padding: 35px;
  }

.cocktail button {
    margin-top: 1rem;
}

@media screen and (max-width:940px) {
    .cocktail .container {
        grid-template-columns: 1fr;
    }

    .cocktail .container {
        width: 100%;
    }

    .cocktail .container img {
        padding: 3rem;
        width: 80vw;
        height: 70vh;
    }

    .cocktail .container .col-2 {
        padding: 0;
        margin-bottom: 1rem;
    }
    .cocktails img {
        float: left;
        border: 1px solid #ddd;
        border-radius: 1px;
        padding: 5px;
        width: 25vw;
        height: 25hw;
      }
      
    .cocktails img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
}